.movie-details {
    text-align: center;
    padding: 20px;
  }
  
  .movie-details h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .movie-img {
    width: 60%;
    max-width: 500px;
    border-radius: 10px;
    margin: 20px 0;
  }
  
  .movie-details p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .reserve-btn {
    padding: 10px 15px;
    font-size: 1rem;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .reserve-btn:hover {
    background: darkblue;
  }
  